<!DOCTYPE html>
<html lang="en">
	<head>
		<title>HackGT Check In Administration</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
		<script defer src="js/index.js"></script>
		<style>
			table {
				width: 100%;
			}
			td {
				vertical-align: middle !important;
			}
			small {
				display: block;
				margin-top: -15px;
				margin-bottom: 15px;
			}
		</style>
	</head>
	<body>
		<section class="section container">
			<h1 class="title">HackGT Check-In</h1>
			<p class="subtitle">Embedded Manager UI</p>
			<small>Logged in as: <code>{{username}}</code></small>
			<table class="table is-hoverable">
				<thead>
					<th>Name</th>
					<th>IP Address</th>
					<th>Check-in Tag</th>
					<th>Status</th>
					<th>Actions</th>
				</thead>
				<tbody>
					{{#each devices as |device|}}
						<tr>
							<td title="{{device.username}}">{{device.friendly_name}}</td>
							<td>{{device.ip_address}}</td>
							<td>
								{{#if device.authorized}}
									<div class="select">
										<select class="tag-select" data-username="{{device.username}}">
											{{#if device.current_tag}}
												<option>&lt;No tag&gt;</option>
											{{else}}
												<option selected>&lt;No tag&gt;</option>
											{{/if}}
											{{#each device.tags as |tag|}}
												{{#if tag.selected}}
													<option selected>{{tag.name}}</option>
												{{else}}
													<option>{{tag.name}}</option>
												{{/if}}
											{{/each}}
										</select>
									</div>
								{{/if}}
							</td>
							{{!-- Status --}}
							<td>
								{{#if device.pending}}
									<code>Pending</code>
								{{/if}}
								{{#if device.authorized}}
									<code>Authorized</code>
								{{else}}
									<code>!Authorized</code>
								{{/if}}
								{{#if device.credentials_created}}
									<code>Credentialed</code>
								{{else}}
									<code>!Credentialed</code>
								{{/if}}
							</td>
							{{!-- Actions --}}
							<td data-username="{{device.username}}">
								<button class="button action-rename">Rename</button>
								{{#if device.pending}}
									<button class="button is-success action-authorize">Authorize</button>
									<button class="button is-danger action-reject">Reject</button>
								{{else}}
									{{#if device.credentials_created}}
										<button class="button is-warning action-force-renew">Force account renewal</button>
									{{/if}}
									<button class="button is-danger action-delete">Delete</button>
								{{/if}}
							</td>
						</tr>
					{{else}}
						<tr>
							<td><i>No devices</i></td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</section>
	</body>
</html>
